<footer class="page-footer">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">DreamMatch</h5>
          <p class="grey-text text-lighten-4">
            Connect the Dreams.
          </p>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="white-text">LINKS</h5>
          <ul>
            <li>
              <a class="grey-text text-lighten-3" href="{% url 'profile-page' %}"
                >Profile</a
              >
            </li>
            <li>
              <a class="grey-text text-lighten-3" href="{% url 'logout' %}"
                >Logout</a
              >
            </li>
            <li>
              <a class="grey-text text-lighten-3" href="{% url 'date-page' %}"
                >Home</a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        DreamMatch © 2021
      </div>
    </div>
  </footer>
  